<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/index.css"/>

</head>
<body>
    <div>
        <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
    </div>
    <br>
    <h1>About Me</h1>
    <br>
    <div>
        <div class="div">
            <img src="https://mymodernmet.com/wp/wp-content/uploads/2017/09/dog-portraits-alexander-khokhlov-5.jpg" alt="pic of me">
            <p>Nick Ramirez</p>
            <p>I like stuff!</p>
        </div>
        <div class="div">
            <p id="par">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, ratione minus quaerat impedit, eos commodi quam exercitationem voluptatem animi in, dolorum qui quibusdam fugiat doloremque fugit maxime unde cumque asperiores!.</p>
        </div>
    </div>
</body>
</html>