<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/projects.css"/>

</head>
<body>
    <div style="text-align: center;">
        <a style="font-size: 25px;" href="/">Home</a> | <a style="font-size: 25px;" href="/projects">Projects</a> | <a style="font-size: 25px;" href="/contact">Contact</a>
    </div>
    <br>
    <h1 style="text-align: center;">Here are some projcets of mine!</h1>
    <br>
    <fieldset>
        <div>
            <img class="width inline" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.DiD_EQGFidozCE8BTie2KgHaD3%26pid%3DApi&f=1" alt="">
            <div class="inline width2">
                <h4>Cool thing!</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam modi, excepturi voluptates id inventore aliquam quos quia sunt ipsam labore dolores aperiam, error distinctio, deleniti eaque totam voluptas minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, nam obcaecati distinctio iusto adipisci voluptates saepe quam. Quibusdam iste, explicabo quod tempore soluta similique aliquam? Facere, accusamus. Mollitia, beatae eum.</p>
            </div>
        </div>
        <div>
            <img class="width" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.DiD_EQGFidozCE8BTie2KgHaD3%26pid%3DApi&f=1" alt="">
            <div class="inline width2">
                <h4>Cool thing!</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam modi, excepturi voluptates id inventore aliquam quos quia sunt ipsam labore dolores aperiam, error distinctio, deleniti eaque totam voluptas minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, nam obcaecati distinctio iusto adipisci voluptates saepe quam. Quibusdam iste, explicabo quod tempore soluta similique aliquam? Facere, accusamus. Mollitia, beatae eum.</p>
            </div>
        </div>
        <div>
            <img class="width" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.DiD_EQGFidozCE8BTie2KgHaD3%26pid%3DApi&f=1" alt="">
            <div class="inline width2">
                <h4>Cool thing!</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam modi, excepturi voluptates id inventore aliquam quos quia sunt ipsam labore dolores aperiam, error distinctio, deleniti eaque totam voluptas minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, nam obcaecati distinctio iusto adipisci voluptates saepe quam. Quibusdam iste, explicabo quod tempore soluta similique aliquam? Facere, accusamus. Mollitia, beatae eum.</p>
            </div>
        </div>
    </fieldset>
</body>
</html>